# --- ARCHIVOS DE CONFIG Y TEMPORALES ANDROID ---
*.iml
.gradle
/local.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# --- OUTPUT DE BUILD ---
/build
/captures
.externalNativeBuild
.cxx

# --- CONFIG SENSIBLE DEL MOCK API ---
/mock-api/service-account.json

# --- DEPENDENCIAS NODE (MOCK API) ---
/mock-api/node_modules

# --- LOGS U OTROS ARCHIVOS LOCALES ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- SISTEMAS OPERATIVOS ---
Thumbs.db
ehthumbs.db
Desktop.ini
