# Archivos de configuración local
local.properties
gradle.properties

# Archivos del IDE
.idea/
*.iml

# Archivos generados por Gradle
.gradle/
build/
*/build/

# Directorios nativos
.cxx/
.externalNativeBuild/

# Otros
.DS_Store
captures/
